#header_logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: -15px;
    flex: 1;
}
#header{
    background-color: #1F2937;
    margin: 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.item{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 20px;
    margin-right: 20px;
}
#header_3{
    flex: 1;
    margin-right: 100px;
}
#header_1{
    margin-left: 500px;
}
body {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}
